/* Space Grotesk - variable font */
@font-face {
  font-family: "SpaceGrotesk";
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url("fonts/spacegrotesk.woff2") format("woff2");
}

/* IBM Plex Sans - 300 */
@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/ibm-plex-sans-300.woff2") format("woff2");
}

/* IBM Plex Sans - 400 */
@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/ibm-plex-sans-400.woff2") format("woff2");
}

/* IBM Plex Sans - 500 */
@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/ibm-plex-sans-500.woff2") format("woff2");
}

/* IBM Plex Sans - 600 */
@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/ibm-plex-sans-600.woff2") format("woff2");
}

/* IBM Plex Sans - 700 */
@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/ibm-plex-sans-700.woff2") format("woff2");
}

/* IBM Plex Mono - 300 */
@font-face {
  font-family: "IBMPlexMono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/ibm-plex-mono-300.woff2") format("woff2");
}

/* IBM Plex Mono - 400 */
@font-face {
  font-family: "IBMPlexMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/ibm-plex-mono-400.woff2") format("woff2");
}

/* IBM Plex Mono - 500 */
@font-face {
  font-family: "IBMPlexMono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/ibm-plex-mono-500.woff2") format("woff2");
}

/* IBM Plex Mono - 600 */
@font-face {
  font-family: "IBMPlexMono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/ibm-plex-mono-600.woff2") format("woff2");
}

/* IBM Plex Mono - 700 */
@font-face {
  font-family: "IBMPlexMono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/ibm-plex-mono-700.woff2") format("woff2");
}
